**/node_modules/
**/dist/

node_modules/
.env



client/.next/
client/node_modules/
client/dist/
client/.env
client/.env.example
client/.env.production
client/.env.local
client/.env.development





.DS_Store
Thumbs.db

.vscode/

server/dist/
server/node_modules/
server/prisma/node_modules/
server/.env
server/.env.backup
server/.env.example

